{% extends 'base_generic.html' %}
{% load static %}


{% block content %} 
        <article class="post">
            {% if validlink %}
            <header class="post-header">
                <h1 class="post-title text-center"> Please insert your new password </h1>
            </header>
            <br>
            {% if form.errors or form.non_field_errors %}
                <div class="post-content alert error">
                {% for field in form %}
                    {% for error in field.errors %}
                        <p> {{ error }} </p>
                    {% endfor %}
                {% endfor %}

                {% for error in form.non_field_errors %}
                    <p> {{ error }} </p>
                {% endfor %}
                </div>
            {% endif %}
            <br>
            <div class="post-content">
                <form class="site-form" action="#" method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <p>{{ field.label_tag }} {{ field }}</p>
                    {% endfor %}
                    <!-- {{ form.as_p }} -->
                  <button class="px-2 py-1 border border-transparent text-sm leading-3 font-small rounded text-white bg-gray-600 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out"type="submit"> Submit &#8811; </button>
                </form>
            </div>
            {% else %}
                <p>
                    The password reset link was invalid, possibly because it has already been used.
                    Please request a new password reset. Return to <a href="{% url 'accounts:login' %}">login</a> to login or reset your password again.
                </p>
            {% endif %}
        </article>
{% endblock %}