{% extends 'base_generic.html' %}

{% if messages %}
  {% for message in messages %}
    <div>
        <strong>{{message|safe}}</strong>
    </div>
  {% endfor %}
  {% endif %}
 
{% block content %}

<div class="page-content">
  <div class="grid-2"> 
    <div style="text-align:center">
      <h1>Staff Calibration Report</h1>
    </div>
    <div style="text-align:right">
      <a href="{% url 'range_calibration:range-adjust' update_index %}">
        <button class="px-3 py-1 border border-transparent text-base leading-4 font-small rounded text-white bg-red-600 hover:bg-red-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" >Adjust&raquo;</button>
      </a>
    </div>
  </div>
  <hr>
  <div class="grid-2">
    <div>
      <h2>This test information</h2>
      <div>
        Unique ID: {{ update_index }}
      </div>
      <div>
        Observation Date: {{ observation_date }}
      </div>
      <br> <br>
      <div>
        Average Temperature: {{ average_temperature|floatformat:1 }}&#8451;
      </div>

    </div>
    <div>
      <h2>Level &amp; staff details </h2>
      <div>
        Staff Number: {{ staff_number }}
      </div>
      <div>
        Level Number: {{ level_number}}
      </div>
      <br> <br>
      <div>
        Observer: {{ observer }}
      </div>
    </div>
  </div>
</div>  
<hr>
<div class="page-content">
  <h1> Displaying range measurements</h1>
  <table style="width:100%; margin-left:2em; border-collapse: collapse; "> 
    <tr style="border-top:1px solid; border-bottom:1px solid">
      {% for header in range_measurement.headers %}
          <th> <h3> {{ header }} </h3> </th>
      {% endfor %}
    </tr>

    {% for data in range_measurement.data %}
      <tr style="text-align:center; border-bottom:1px solid">    
        {% for value in data %}
          <td>{{ value }}</td>
        {% endfor %}
      </tr>
      {% endfor %}
    </tr>
  </table>
  </div>


{% endblock content %}