{% extends 'base_generic.html' %}
{% load static %}

{% block content %}

	<article class="post">
    {% if messages %}
    <div class="page-content">
        {% for message in messages %}
        <div class="alert {{ message.tags }}">
            {% if 'safe' in message.tags %}
                <p> {{ message|safe }}  <span class="close">&#10799;</span></p>
            {% else %}
                <p> {{ message }}  <span class="close">&#10799;</span></p>
            {% endif %}

        </div>
        <br>
        {% endfor %}
    </div>
    {% endif %}

    <header class="post-header">
      <h1 class="post-title text-center">Ready to start the Boya Range Calibration? </h1>
    </header>

    <div class="post-content">
      <div class="mt-10 flex justify-center">
        <a href="{% url 'range_calibration:range-calibrate' %}">
          <button class="px-3 py-2 border border-transparent text-base leading-4 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
            Get started now
          </button>
        </a>  
      </div>
      <br><br>
      <hr>
      <br>
      {% if user.is_authenticated %}
      <div>
        <h2> Click on the link below to view individual reports </h2>
      	<table>
      		<tr style="text-align:center;">
      			<th> <h3> Unique Index </h3> </th>    	
  	    		<th> <h3> Observed Date </h3> </th>
  	    		<th> <h3> Staff Number </h3> </th>
  	    		<th> <h3> Level Number </h3> </th>
  	    		<th> <h3> Observer </h3> </th>
  	    		<th> <h3> Report </h3></th>
      		</tr>
          {% if object_list %}
        		{% for item in object_list %}
          		<tr>
          			<td> <a class="hover:bg-yellow-50" href="{% url 'range_calibration:print-report' item.update_index %}" target="_blank"> {{ item.update_index }} </a> </td>    	
      	    		<td> {{ item.observation_date }} </td>
      	    		<td> {{ item.staff_number.staff_number }} </td>
      	    		<td> {{ item.level_number.level_number }} </td>
      	    		<td> {{ item.surveyor }} </td>
      	    		<td> <a class="px-2 py-1 border border-transparent text-xs leading-2 rounded text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" href="{% url 'range_calibration:range-report' item.update_index %}"> Report&raquo;</a> </td>
          		</tr>
            {% endfor %}
          {% else %}
          <tr>
            <td colspan="6">There is currently no range measurements listed. You can start to calibrate the range by clicking the get started now button above.</td>
          </tr>
          {% endif %}
      	</table>
      </div>
      {% else %}
        <p>Please login or signup to view or calibrate the Boya Staff Range.</p>
        <div class="single-item-container">
          <button class="mr-4 px-2 py-1 border border-transparent text-xs font-small rounded text-white bg-blue-500 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" onclick="location.href='/accounts/login/'">Log in</button>
          or 
          <button class="ml-4 px-2 py-1 border border-transparent text-xs font-small rounded text-white bg-blue-500 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" onclick="location.href='/accounts/signup/'">Sign up</button>
        </div>
      {% endif %}
      <!--Pagination-->

    {% if is_paginated %}
      <div class="grid-3">
      	<!-- <ul class="pagination pg-blue"> -->
        <div>
      	{% if page_obj.has_previous %}
          <!-- <li class="page-item"> -->
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          <!-- </li> -->
         {% endif %}
         </div>

        <div>
          <!-- <li class="page-item active"> -->
          <a class="page-link" href="?page={{ page_obj.number }}">Page {{ page_obj.number }}
              <span class="sr-only">(current)</span>
            </a>
          <!-- </li> -->
        </div>

        <div>
          {% if page_obj.has_next %}
          <!-- <li class="page-item"> -->
             <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
             <span aria-hidden="true">&raquo;</span>
             <span class="sr-only">Next</span>
             </a>
          <!-- </li> -->
          {% endif %}
        </div>
        <!-- </ul> -->
      
      </div>
    {% endif %}
  </article>

{% endblock content %}