{% extends 'base_generic.html' %}
{% load static %}
{% block content %}

<article class="post">

	{% if messages %}
	<ul class="alert messages">
	    {% for message in messages %}
	    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
	    {% endfor %}
	</ul>
	<br>
	{% endif %}


	<header class="post-header">
	    <h1 class="post-title">An easy way to manage your levelling staves.</h1>
	</header>

	<div class="post-content">

		{% if staff_lists %}
			<table>
				<colgroup>
					<col span="1" width="20%">
					<col span="1" width="14%">
					<col span="1" width="14%">
					<col span="1" width="14%">
					<col span="1" width="14%">
				</colgroup>
				<tr>
					<th>Staff ID</th>
					<th>Staff Number</th>
	    			<th>Staff Material</th>
	    			<th>Correction Factor</th>
	    			<th>Standard Temperature</th>
	    			<th>Calibration Date</th>
				</tr>
				{% for staff in staff_lists %}
					<tr style="text-align:center;"> 
						<td>{{ staff.update_index }}</td>
						<td>{{ staff.staff_number.staff_number }}</td>
						<td>{{ staff.staff_number.staff_type }} </td>
						<td>{{ staff.correction_factor|floatformat:6 }}</td>
						<td>{{ staff.correction_factor_temperature|floatformat:0 }}&#8451;</td>
						<td>{{ staff.calibration_date }} 
							<a style="float:right" class="px-1 border border-transparent text-xs rounded-md text-white bg-gray-600 hover:bg-gray-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out" href="{% url 'staff_calibration:generate-report' staff.update_index %}" target="_blank">Print pdf</a></td>
						</td>
						<!-- <td>
							<a style="vertical-align:middle; float:center" href="{% url 'staff_calibration:user-staff-delete' staff.update_index %}" >
					          	<svg class="trashcan" width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" onclick="return confirmation()">
					 			 <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
					 			 <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
								</svg>
							</a>
						</td> -->
					</tr>
					
				{% endfor %}
			</table>
		{% else %}
			<p> There is currently no staffs listed </p>
		{% endif %}
	</div>
</article>

<script type="text/javascript">
	function confirmation() {
      return confirm('Are you sure you want to do this?');
    }
</script>

{% endblock content %}